<h3> Here's the song </h3>
name:
<%= @song.name %><br>
artist_id:
<%= @song.artist_id %><br>
artist name:
<a href= <%= "/artists/#{slugify(@song.artist.name)}" %> >
  <%= Artist.find_by(id: @song.artist_id).name %><br>
</a>
Genre(s): <br>
<ul>
<% @song.genres.each do |genre| %>
  <li>
    <a href= <%= "/genres/#{slugify(genre.name)}" %> >
      <%= genre.name %>
    </a>
  </li>
<% end %>
</ul>
<a href= <%= "/songs/#{slugify(@song.name)}/edit" %> >
  Edit this song
</a>
