Artist Name: <%= @artist.name %><br />
<% @artist.genres.each do |genre| %>
  Genre Name: <%= genre.name %>, <a href="/genres/<%= genre.slug %>">Read About the Genre</a><br />
<% end %>
<% @artist.songs.each do |song| %>
  Song Name: <%= song.name %>, <a href="/songs/<%= song.slug %>">Read About the Song</a><br />
<% end %>