<h3> Here's the artist </h3>
<%= @artist.name %><br>
Songs:
<ul>
  <% @artist.songs.each do |song| %>
    <li>
      <a href= <%= "/songs/#{slugify(song.name)}" %> >
        <%= song.name %>.
      </a>
    </li>
  <% end %>
</ul>
Known for these genres:
<ul>
  <% @artist.genres.each do |genre| %>
    <li>
      <a href= <%= "/genres/#{slugify(genre.name)}" %> >
        <%= genre.name %>.
      </a>
    </li>
  <% end %>
</ul>
