<h1>Edit Song</h1>
<form action="/songs/<%= @song.slug %>" method="post">
  <p>
    <label for="name">Name:</label>
    <input type="text" name="name" id="Name" value="<%= @song.name %>"/>
  </p>
  <p>
    <label>Genres:</label>
    <% Genre.all.each do |genre| %>
      <input type="checkbox" name="genres[]" value="<%= genre.name %>" id="<%= genre.name %>" <%= 'checked' if @song.genres.include?(genre) %>>
      <%= genre.name %>
      </input>
    <% end %>
  </p>
  <p>
    <label for="artist_name">Artist Name</label>
    <input type="text" name="artist_name" id="Artist Name" value="<%= @song.artist.name %>"/>
  </p>
  <input type="submit" value="Save">
</form>
