<h1>New Song</h1>

<form action="/songs" method="POST">
  <label>Song Title:</label>
  <br></br>
  <input type="text" name="song[name]" id="Name">
  <br></br>


  <label>Create a new Artist:</label>
  <br></br>
  <input type="text" name="artist[name]" id="Artist Name">
  <br></br>

  <label>or Select Artist Name:</label>
  <br></br>
  <% @artists.each do |artist| %>
    <input type="radio" name="song[artist_id]" id="<%= artist.name %>" value="<%= artist.id %>" >
      <%= artist.name %>
    </input>
  <% end %>
  <br></br>

  <label>Create a new Genre:</label>
  <br></br>
  <input type="text" name="genre[name]" id="Genre Name">
  <br></br>

  <label>and/or Select Genres:</label>
  <br></br>
  <% @genres.each do |genre| %>
    <input type="checkbox" name="genre[ids][]" id="<%= genre.name %>"  value="<%= genre.id %>"</input>
      <%= genre.name %>
    </input>
  <% end %>
  <br></br>

  <input type="submit" id="create" value="Create Song">
</form>

<br></br>

<!-- Return to Index -->
<form action="/songs" method="GET">
  <input type="submit" value="Go Back to Song Index">
</form>
