<!-- /songs/new.erb -->

<h1>New Song</h1>

<% if !!flash(:message) %>
  <%= flash[:message] %>
<% end %>

<form action="/songs" method="POST">
  <label>Song Title:</label>
  <br></br>
  <input type="text" name="song[name]" id="Name">
  <br></br>

  <label>Select Artist Name:</label>
  <br></br>
  <% @artists.each do |artist| %>
    <input type="radio" name="song[artist_id]" id="<%= artist.name %>" value="<%= artist.id %>" >
      <%= artist.name %>
    </input>
  <% end %>
  <br></br>

  <label>Or Create a new Artist:</label>
  <br></br>
  <input type="text" name="artist[name]" id="Artist Name">
  <br></br>

  <label>Select Genres:</label>
  <br></br>
  <% @genres.each do |genre| %>
    <input type="checkbox" name="song[genre_ids][]" id="<%= genre.name %>"  value="<%= genre.id %>"</input>
      <%= genre.name %>
    </input>
  <% end %>
  <br></br>

  <label>And/or Create a new Genre:</label>
  <br></br>
  <input type="text" name="genre[name]" id="Genre Name">
  <br></br>

  <input type="submit" id="create" value="Create Song">
</form>
<br></br>



<!-- Return to Index -->
<form action="/songs" method="GET">
  <input type="submit" value="Go Back to Song Index">
</form>
