<% if session[:song_message] %>
  <%= session[:song_message] %>
<% end %>
<% if session[:update_message] %>
  <%= session[:update_message] %>
<% end %>

<h1><%=@song.name%></h1>
<h2><%=@song.artist.name%></h2>

<%@song.genres.each do |s| %>
<ul>
  <li> <a href="/genres/<%=s.slug%>"></a><%=s.name%></li>
</ul>
<%end%>
