<h2><%= @song.name %></h2>
<table style="width:500px" border="1px solid black">
  <tr>
    <th>Artist</th>
    <th>Genre</th>
  </tr>
  <tr>
    <td><a href="/artists/<%= @song.artist.slug %>"> <%= @song.artist.name %></a></td>
    <% @song.genres.each do |genre| %>
      <td><a href="/genres/<%= genre.slug %>"> <%= genre.name.capitalize %></a></td>
    <% end %>
  </tr>
</table>
